---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import FeaturesSection from "../components/FeaturesSection.astro";
import FloodInboxSection from "../components/FloodInboxSection.astro";
import StatsSection from "../components/StatsSection.astro";
import HowItWorksSection from "../components/HowItWorksSection.astro";
import RosasYCafesSection from "../components/RosasYCafesSection.astro";
import TestimonialsSection from "../components/TestimonialsSection.astro";
import CtaSection from "../components/CtaSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <FeaturesSection />
    <FloodInboxSection />
    <StatsSection />
    <HowItWorksSection />
    <RosasYCafesSection />
    <TestimonialsSection />
    <CtaSection />
  </main>
  <Footer />
</Layout>
